<div class="comment">

  <li> <%= comment.content %> </li>
  <li><%= link_to "Edit Comment", edit_comment_path(comment) %></li>
  <li><%= link_to "Delete Comment", comment_path(comment), :method => "DELETE"  %></li>
</div>
