<div class="container">
  
  <%= form_for @user do |f| %>

    <%= f.text_field :user_name, placeholder: "Username" %>
    <%= f.email_field :email, placeholder: "Email"  %>

    <%= f.submit "Save Changes"   %>

  <% end %>

</div>
