<div class='answer'>
  <li><%= answer.content %></li>
  <li><%= link_to "Edit Answer", edit_answer_path(answer) %></li>
  <li><%= link_to "Delete Answer", answer_path(answer), :method => "DELETE" %></li>
  <br>
</div>
